@charset "UTF-8";
a, a:link, a:visited {
	text-decoration-line:none;
	color: black;
}

a:hover {
	color:blue; 
}

h1 {
	font-size:30px; 	
}

h2 {
	font-size:25px; 	
}

input:read-only {
	background-color: #EEEEEE;
	border: 1px solid;
}

table {
	width: 100%;
	margin: 5px auto; /* top right down left */
	border: 1px solid #444444;
	border-collapse: collapse;
	text-align: center;
	font-size: 15px; font-weight: normal;
	
}

thead {
	background: #EEEEEE;
	font-size: 18px;
}

th, td {
	border: 1px solid #444444;
	padding: 5px;
}

body {
	border-collapse: collapse;
	position: absolute; left: 50%; 
	width: 1024px; 
	margin: 3px auto 50px -512px; /* top right down left */
	
}

header {
	font-size: 40px; font-weight: bold; text-decoration: none;
}

.ItemTop {
	border: 1px solid black;
	padding: 15px 0px 0px 0px ; /* top right down left */
	text-align: center;	background: orange; color:black; 
}

.DeviceTop {
	border: 1px solid black;
	padding: 15px 0px 0px 0px ; /* top right down left */
	text-align: center;	background: blue; color:white; 
}

.MenuButton {
	margin: 0px 10px 10px 10px ; /* top right down left */
	width:200px; height:35px;
	font-size:20px; color:black; font-weight: bold; text-decoration:none;
}

main {
	width:100%; height:100%;
	margin-top: 15px;
	text-align: center;
}

.SubTitleBar {
	/*font-size: 15px; font-weight: bold; text-decoration: none;*/
}

.SubMenuBar {
/*	border: 1px solid black;*/
	margin: 0px; 
	padding: 0px 0px 5px 0px ; /* top right down left */
	text-align: right;
}

.SubMenuButton {
/*	margin:15px;
	float: right;*/
}

.WideTable{	
	text-align:left;
	font-size: 25px; font-weight: bold;
}

.NarrowTable {
	position: absolute; left: 50%; 
	width:600px; margin-left: -300px;		 
	text-align:left;
	font-size: 25px; font-weight: bold;
}	

.inputText {
	width: 95%;
	text-align: center;
}

#append_row {
	float: center;
	margin: 5px;
}